html {
  overflow-y:scroll;
}

body {
  padding-top:50px;
  background-color: #410404;
}

h4 {
  text-align: center;
}

#expense-list {
  margin-bottom:30px;
  width: 75%;
}

.expense-list-items {
  color: white;
}

#expense-form {
  margin:50px;
}

button {
  width: 80px;
}

span {
  margin-left: 100px;
}

submit {
  text-align: center;
}

.ng-invalid {
  border: 1px solid red;
}

.updateForm {
  width: 580px;
  height: 300px;
  border: 5px solid black;
  text-align: center;
}
